<!DOCTYPE html>

{%extends "layout.html"%}
    {%block body %} 
    <br>
    <div class="type">
        <h1 class="cs-title">Learner type Quiz</h1>
        <div class="quiz">
            <h2 id="question">Question goes here</h2>
            <div id="answer-buttons">
                <button class="btn">Answer1</button>
                <button class="btn">Answer2</button>
                <button class="btn">Answer3</button>
                <button class="btn">Answer4</button>
            </div>
            <button id="next-btn">Next</button>
           <a id="sign-up" style="text-decoration: none;" href="/signup">Sign-up</a>
        </div>
        
      

    </div>
    {% endblock %}
   
    